<% s_or_b = type.chars.first %>
<div id="<%= type %>" data-hook="address_fields">
  <% Spree::Address::ADDRESS_FIELDS.each do |field| %>
    <% if field == "country" %>
      <%= field_container (s_or_b + '_' + field), nil, class: ["form-group", "#{type}-row"] do %>
        <%= f.label :country_id, Spree.t(:country) %>
        <span id="<%= s_or_b %>country">
          <%= f.collection_select :country_id, available_countries, :id, :name, {}, { class: 'select2' } %>
        </span>
      <% end %>
    <% elsif field == "state" %>
      <%= field_container (s_or_b + '_' + field), :state, class: ["form-group", "#{type}-row"] do %>
        <%= f.label :state_id, Spree.t(:state) %>
        <span id="<%= s_or_b %>state">
          <% if f.object.country.try(:states) %>
            <%= f.text_field :state_name,
                             style: "display: #{f.object.country.try(:states) && f.object.country.states.empty? ? 'block' : 'none' };",
                             disabled: !(f.object.country.try(:states) && f.object.country.states.empty?), class: 'form-control state_name' %>
            <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, { include_blank: true }, { class: 'select2', style: "display: #{ f.object.country.states.empty? ? 'none' : 'block' };", disabled: f.object.country.states.empty? } %>
          <% else %>
            <div>
              <em><%= Spree.t(:no_country) %></em>
            </div>
          <% end %>
        </span>
        <%= error_message_on f.object, :state_id %>
      <% end %>
    <% elsif field == "city" %>
      <%= field_container (s_or_b + '_' + field), :city, class: ["form-group", "#{type}-row"] do %>
        <%= f.label :city_id, Spree.t(:city) %>
        <span id='<%= "#{s_or_b}city" %>'>
          <%= f.select :city, Spree::Address::CITIES, { include_blank: true }, { class: 'select2' } %>
        </span>
      <% end %>
    <% elsif field == 'county' %>
      <div class="field <%= "#{type}-row" %>">
        <%= f.label :county_id, Spree.t(:county) %>
        <span id="<%= s_or_b %>county">
          <%= f.collection_select :county_id, f.object.state.present? ? f.object.state.counties.sort : @counties, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth'} %>
        </span>
      </div>
    <% elsif field == "global" %>
      <% if params[:controller] == 'spree/admin/addresses' %>
        <%= field_container (s_or_b + '_' + field), :global, class: ["form-group", "#{type}-row"] do %>
          <%= f.check_box :global, value: true, checked: true %>
          <%= f.label :global %>
        <% end %>
      <% end %>
    <% else %>
      <%= field_container (s_or_b + '_' + field), nil, class: ["form-group", "#{type}-row"] do %>
        <%= f.label field, Spree.t(field) %>
        <%= f.text_field field, class: 'form-control' %>
        <%= error_message_on f.object, field %>
      <% end %>
    <% end %>
  <% end %>
</div>
